$primary: #00e0d0;

$body-color: #817f86; // В оригинале argb #413d4b .75, но в этом нет практического смысла

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px
);

$grid-gutter-width: 20px;

$paragraph-margin-bottom: 1.5rem;

$font-family-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Playfair Display", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 0.875rem;
$font-weight-base: 300;
$line-height-base: 1.57;

$h1-font-size: 2rem;
$h2-font-size: (22 / 16 * 1rem);
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base;
$headings-font-weight: 600;
$headings-color: #413d4b;

$input-btn-font-size: 1rem;

$navbar-dark-active-color: $primary;
$navbar-dark-color: #FFFFFF;
$nav-link-font-weight: 900;
$nav-link-font-size: (13/16 * 1rem);
$navbar-nav-link-padding-x: (22 / 16 / 2 * 1rem);
$navbar-padding-y: 15px;
$border-radius: 2px;
