// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$expert-branding-name: 'expert-branding';
$expert-branding-x: 50px;
$expert-branding-y: 100px;
$expert-branding-offset-x: -50px;
$expert-branding-offset-y: -100px;
$expert-branding-width: 50px;
$expert-branding-height: 42px;
$expert-branding-total-width: 191px;
$expert-branding-total-height: 181px;
$expert-branding-image: 'sprite.png';
$expert-branding: (50px, 100px, -50px, -100px, 50px, 42px, 191px, 181px, 'sprite.png', 'expert-branding', );
$expert-gamedev-name: 'expert-gamedev';
$expert-gamedev-x: 150px;
$expert-gamedev-y: 0px;
$expert-gamedev-offset-x: -150px;
$expert-gamedev-offset-y: 0px;
$expert-gamedev-width: 41px;
$expert-gamedev-height: 50px;
$expert-gamedev-total-width: 191px;
$expert-gamedev-total-height: 181px;
$expert-gamedev-image: 'sprite.png';
$expert-gamedev: (150px, 0px, -150px, 0px, 41px, 50px, 191px, 181px, 'sprite.png', 'expert-gamedev', );
$expert-love-name: 'expert-love';
$expert-love-x: 0px;
$expert-love-y: 100px;
$expert-love-offset-x: 0px;
$expert-love-offset-y: -100px;
$expert-love-width: 50px;
$expert-love-height: 46px;
$expert-love-total-width: 191px;
$expert-love-total-height: 181px;
$expert-love-image: 'sprite.png';
$expert-love: (0px, 100px, 0px, -100px, 50px, 46px, 191px, 181px, 'sprite.png', 'expert-love', );
$expert-mobile-name: 'expert-mobile';
$expert-mobile-x: 150px;
$expert-mobile-y: 50px;
$expert-mobile-offset-x: -150px;
$expert-mobile-offset-y: -50px;
$expert-mobile-width: 28px;
$expert-mobile-height: 50px;
$expert-mobile-total-width: 191px;
$expert-mobile-total-height: 181px;
$expert-mobile-image: 'sprite.png';
$expert-mobile: (150px, 50px, -150px, -50px, 28px, 50px, 191px, 181px, 'sprite.png', 'expert-mobile', );
$expert-search-name: 'expert-search';
$expert-search-x: 100px;
$expert-search-y: 0px;
$expert-search-offset-x: -100px;
$expert-search-offset-y: 0px;
$expert-search-width: 50px;
$expert-search-height: 50px;
$expert-search-total-width: 191px;
$expert-search-total-height: 181px;
$expert-search-image: 'sprite.png';
$expert-search: (100px, 0px, -100px, 0px, 50px, 50px, 191px, 181px, 'sprite.png', 'expert-search', );
$expert-webdesign-name: 'expert-webdesign';
$expert-webdesign-x: 100px;
$expert-webdesign-y: 50px;
$expert-webdesign-offset-x: -100px;
$expert-webdesign-offset-y: -50px;
$expert-webdesign-width: 49px;
$expert-webdesign-height: 50px;
$expert-webdesign-total-width: 191px;
$expert-webdesign-total-height: 181px;
$expert-webdesign-image: 'sprite.png';
$expert-webdesign: (100px, 50px, -100px, -50px, 49px, 50px, 191px, 181px, 'sprite.png', 'expert-webdesign', );
$icon-map-name: 'icon-map';
$icon-map-x: 135px;
$icon-map-y: 100px;
$icon-map-offset-x: -135px;
$icon-map-offset-y: -100px;
$icon-map-width: 14px;
$icon-map-height: 19px;
$icon-map-total-width: 191px;
$icon-map-total-height: 181px;
$icon-map-image: 'sprite.png';
$icon-map: (135px, 100px, -135px, -100px, 14px, 19px, 191px, 181px, 'sprite.png', 'icon-map', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 140px;
$icon-phone-y: 146px;
$icon-phone-offset-x: -140px;
$icon-phone-offset-y: -146px;
$icon-phone-width: 17px;
$icon-phone-height: 17px;
$icon-phone-total-width: 191px;
$icon-phone-total-height: 181px;
$icon-phone-image: 'sprite.png';
$icon-phone: (140px, 146px, -140px, -146px, 17px, 17px, 191px, 181px, 'sprite.png', 'icon-phone', );
$play-icon-name: 'play-icon';
$play-icon-x: 0px;
$play-icon-y: 0px;
$play-icon-offset-x: 0px;
$play-icon-offset-y: 0px;
$play-icon-width: 100px;
$play-icon-height: 100px;
$play-icon-total-width: 191px;
$play-icon-total-height: 181px;
$play-icon-image: 'sprite.png';
$play-icon: (0px, 0px, 0px, 0px, 100px, 100px, 191px, 181px, 'sprite.png', 'play-icon', );
$soc-dribbble-name: 'soc-dribbble';
$soc-dribbble-x: 150px;
$soc-dribbble-y: 100px;
$soc-dribbble-offset-x: -150px;
$soc-dribbble-offset-y: -100px;
$soc-dribbble-width: 35px;
$soc-dribbble-height: 35px;
$soc-dribbble-total-width: 191px;
$soc-dribbble-total-height: 181px;
$soc-dribbble-image: 'sprite.png';
$soc-dribbble: (150px, 100px, -150px, -100px, 35px, 35px, 191px, 181px, 'sprite.png', 'soc-dribbble', );
$soc-facebook-name: 'soc-facebook';
$soc-facebook-x: 100px;
$soc-facebook-y: 100px;
$soc-facebook-offset-x: -100px;
$soc-facebook-offset-y: -100px;
$soc-facebook-width: 35px;
$soc-facebook-height: 35px;
$soc-facebook-total-width: 191px;
$soc-facebook-total-height: 181px;
$soc-facebook-image: 'sprite.png';
$soc-facebook: (100px, 100px, -100px, -100px, 35px, 35px, 191px, 181px, 'sprite.png', 'soc-facebook', );
$soc-gplus-name: 'soc-gplus';
$soc-gplus-x: 0px;
$soc-gplus-y: 146px;
$soc-gplus-offset-x: 0px;
$soc-gplus-offset-y: -146px;
$soc-gplus-width: 35px;
$soc-gplus-height: 35px;
$soc-gplus-total-width: 191px;
$soc-gplus-total-height: 181px;
$soc-gplus-image: 'sprite.png';
$soc-gplus: (0px, 146px, 0px, -146px, 35px, 35px, 191px, 181px, 'sprite.png', 'soc-gplus', );
$soc-instagram-name: 'soc-instagram';
$soc-instagram-x: 35px;
$soc-instagram-y: 146px;
$soc-instagram-offset-x: -35px;
$soc-instagram-offset-y: -146px;
$soc-instagram-width: 35px;
$soc-instagram-height: 35px;
$soc-instagram-total-width: 191px;
$soc-instagram-total-height: 181px;
$soc-instagram-image: 'sprite.png';
$soc-instagram: (35px, 146px, -35px, -146px, 35px, 35px, 191px, 181px, 'sprite.png', 'soc-instagram', );
$soc-twitter-name: 'soc-twitter';
$soc-twitter-x: 70px;
$soc-twitter-y: 146px;
$soc-twitter-offset-x: -70px;
$soc-twitter-offset-y: -146px;
$soc-twitter-width: 35px;
$soc-twitter-height: 35px;
$soc-twitter-total-width: 191px;
$soc-twitter-total-height: 181px;
$soc-twitter-image: 'sprite.png';
$soc-twitter: (70px, 146px, -70px, -146px, 35px, 35px, 191px, 181px, 'sprite.png', 'soc-twitter', );
$soc-youtube-name: 'soc-youtube';
$soc-youtube-x: 105px;
$soc-youtube-y: 146px;
$soc-youtube-offset-x: -105px;
$soc-youtube-offset-y: -146px;
$soc-youtube-width: 35px;
$soc-youtube-height: 35px;
$soc-youtube-total-width: 191px;
$soc-youtube-total-height: 181px;
$soc-youtube-image: 'sprite.png';
$soc-youtube: (105px, 146px, -105px, -146px, 35px, 35px, 191px, 181px, 'sprite.png', 'soc-youtube', );
$spritesheet-width: 191px;
$spritesheet-height: 181px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($expert-branding, $expert-gamedev, $expert-love, $expert-mobile, $expert-search, $expert-webdesign, $icon-map, $icon-phone, $play-icon, $soc-dribbble, $soc-facebook, $soc-gplus, $soc-instagram, $soc-twitter, $soc-youtube, );
$spritesheet: (191px, 181px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
