@import 'variables';

// Bootstrap Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Bootstrap Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
//@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
//@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
//@import "bootstrap/scss/breadcrumb";
//@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
//@import "bootstrap/scss/alert";
//@import "bootstrap/scss/progress";
//@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
//@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
//@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
//@import "bootstrap/scss/carousel";
//@import "bootstrap/scss/spinners";

// Bootstrap Helpers
@import "bootstrap/scss/helpers";

// Bootstrap Utilities
@import "bootstrap/scss/utilities/api";

@import 'sprite';

.btn, .navbar {
  text-transform: uppercase;
}

#page-header {
  background: linear-gradient(to top, rgba(#09052f, 0.85), rgba(#311d5e, 0.85)), url("../images/header-bg.jpg") 0 0 / cover no-repeat;
  min-height: 670px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}

#header-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  line-height: 1.71;
  letter-spacing: 0.7px;

  h1 {
    margin-bottom: 20px;
    letter-spacing: .32px;

    &:after {
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      background: #00e0d0;
      margin: 20px auto 0;
    }
  }

  .btn {
    margin-top: 50px;
  }
}
