@import 'variables';

// Bootstrap Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Bootstrap Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
//@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
//@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
//@import "bootstrap/scss/dropdown";
//@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
//@import "bootstrap/scss/card";
//@import "bootstrap/scss/breadcrumb";
//@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
//@import "bootstrap/scss/alert";
//@import "bootstrap/scss/progress";
//@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
//@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
//@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
//@import "bootstrap/scss/carousel";
//@import "bootstrap/scss/spinners";

// Bootstrap Helpers
@import "bootstrap/scss/helpers";

// Bootstrap Utilities
@import "bootstrap/scss/utilities/api";

@import 'sprite';

$block-gradient-overlay: linear-gradient(to top, rgba(#09052f, 0.85), rgba(#311d5e, 0.85));

%heading-line {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #00e0d0;
  margin: 20px auto 0;
}

.btn, .navbar {
  text-transform: uppercase;
}

h1 {
  font-weight: 900;
}

h2 {
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

h4 {
  font-family: $font-family-sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .7px;
}

p:last-child {
  margin-bottom: 0;
}

#page-header {
  background: $block-gradient-overlay, url("../images/header-bg.jpg") 0 0 / cover no-repeat;
  min-height: 670px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}

#header-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.71;
  letter-spacing: 0.7px;

  h1 {
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: .32px;

    &:after {
      @extend %heading-line;
    }
  }

  .btn {
    margin-top: 50px;
  }
}

.site-icon svg {
  width: 235px;
  height: 229px;
}

.block {
  padding-top: 70px;
  padding-bottom: 70px;
}

#block-story h2 {
  margin-bottom: 1.1rem;
}

#block-video {
  background: $block-gradient-overlay, url("../images/player-bg.jpg") 0 0 / cover no-repeat;

  .container {
    display: flex;
    min-height: 550px - 140px;
    justify-content: center;
    align-items: center;
  }
}

.btn-play {
  text-align: center;
  height: 100px;
  overflow: visible;

  @include transition($transition-fade);

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  .icon-play {
    @include sprite($play-icon);
    display: block;
    margin: 0 auto 2rem auto;
  }

  .description {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
  }
}

.btn-transparent {
  background: transparent;
  border: 0 none;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, max-content));
  grid-gap: 1px;
  // С одной стороны, "хак", с другой стороны, работает с любым количеством и расположением айтемов
  background: #ebebeb;

  .icon {
    margin: 0 auto 1.75rem;
    height: 50px;
  }

  .expertise-item {
    background: #fff;
    padding: 2rem;

    h4 {
      margin-bottom: 1.75rem;
    }
  }
}

.icon-expert-webdesign {
  @include sprite($expert-webdesign);
}

.icon-expert-branding {
  @include sprite($expert-branding);
}

.icon-expert-mobile {
  @include sprite($expert-mobile);
}

.icon-expert-search {
  @include sprite($expert-search);
}

.icon-expert-gamedev {
  @include sprite($expert-gamedev);
}

.icon-expert-love {
  @include sprite($expert-love);
}

hgroup {
  margin-bottom: 3rem;

  .subtext {
    letter-spacing: 1.05px;
    color: lighten($headings-color, 25%);
  }

  &:after {
    @extend %heading-line;

    background-color: #c6c4c9;
  }
}

#block-team {
  background: $block-gradient-overlay, url("../images/header-bg.jpg") 0 0 / cover no-repeat;
  color: #fff;

  h2 {
    color: #fff;
  }

  hgroup {
    .subtext {
      color: #f9f9f9;
    }

    &:after {
      background-color: #655c81;
    }
  }

  .team-footer {
    margin-top: 70px;
    margin-bottom: 1.5rem;
  }
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
  justify-content: center;
  grid-gap: 20px;

  .photo {
    width: 220px;
    height: 229px;
    background-color: #fff;
  }

  .name-wrap {
    padding: 1.5rem;
    border: 1px solid rgba(#e1e1e1, .5);
  }
}

.person-name {
  font-weight: 900;
  letter-spacing: .7px;
}

.person-title {
  font-size: (13 / 16 * 1rem);
  color: darken(#fff, 25%);
}

.header-with-link {
  margin-bottom: 70px;

  h2 {
    margin-bottom: 0;
  }

  a {
    color: $body-color;
    text-decoration: none;

    &:hover, &:focus {
      color: $headings-color;
    }
  }
}

.icon-arrow-right {
  @include sprite($arrow-right);
  display: inline-block;
  vertical-align: -5%;
  margin-left: .3rem;
}

.works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 70px;

  @include media-breakpoint-up('lg') {
    grid-template-columns: repeat(6, 1fr);
  }

  &-item {
    height: 200px;

    &:nth-child(4n-3) {
      background-color: #b6b6b6;
    }

    &:nth-child(4n-2) {
      background-color: #acacac;
    }

    &:nth-child(4n-1) {
      background-color: #a1a1a1;
    }

    &:nth-child(4n) {
      background-color: #8a8a8a;
    }
  }
}

#block-team2 {
  background: $block-gradient-overlay, url("../images/team2-bg.jpg") 0 0 / cover no-repeat;
  color: #fff;

  h2 {
    color: #fff;
    font-size: (100 / 16 * 1rem);
    font-weight: normal;
    letter-spacing: 3px;
    display: block;
    line-height: .5;
  }

  .text {
    font-family: $headings-font-family;
    letter-spacing: 0.4px;
    font-weight: normal;
    font-size: 1rem;
  }

  .team2 {
    margin-top: 2.5rem;

    &__people {
      margin-top: 2.5rem;

      img {
        padding-left: 7px;
        padding-right: 7px;

        &:hover, &:focus {
          cursor: pointer;
          opacity: .75;
        }
      }
    }
  }
}

#page-footer {
  background: $block-gradient-overlay, url("../images/footer-bg.jpg") 0 0 / cover no-repeat;
  color: #fff;

  .logo {
    margin-bottom: 1.5rem;
  }

  .header-wrap {
    height: 50px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up('lg') {
      margin-bottom: 1.5rem;
    }

    .h4 {
      color: #fff;
      font-size: (15 / 16 * 1rem);
      letter-spacing: 0.75px;
      margin-bottom: 0;
    }
  }

  .text-marked {
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.icon-map:before {
      @include sprite($icon-map);
    }

    &.icon-phone:before {
      @include sprite($icon-phone);
    }
  }

  .form-subscribe {
    input {
      background: transparent;
      border-color: #9f98b1;
      color: #fff;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .btn {
      background: rgba(#fff, .5);
      border-color: rgba(#fff, .5);
      min-height: $input-height;
      font-size: $font-size-base;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover, &:focus {
        background: rgba(#fff, .75);
      }

      .icon-send {
        display: inline-block;
        @include sprite($btn-send);
      }
    }
  }

  .row-last {
    margin-top: 70px;

    .navbar {
      padding: 0;
    }

    .nav-item:first-child a {
      padding-left: 0;
    }
  }

  .copyright {
    font-weight: normal;
  }
}

.icon-facebook {
  @include sprite($soc-facebook);
}

.icon-dribble {
  @include sprite($soc-dribbble);
}

.icon-twitter {
  @include sprite($soc-twitter);
}

.icon-instagram {
  @include sprite($soc-instagram);
}

.icon-googleplus {
  @include sprite($soc-gplus);
}

.icon-youtube {
  @include sprite($soc-youtube);
}

.social {
  a {
    display: inline-block;
    margin-top: 1.5rem;

    &:hover, &:focus {
      opacity: .75;
    }

    + a {
      margin-left: .5rem;
    }
  }
}

#videomodal {
  .modal-dialog {
    max-width: 580px;
  }

  .modal-body {
    padding: 10px;
  }

  iframe {
    max-width: 100%;
  }
}
