doctype html
head
  meta(charset='utf-8')
  title Tajam
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(content='Test site' name='description')
  link(href='/apple-touch-icon.png' rel='apple-touch-icon' sizes='180x180')
  link(href='/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png')
  link(href='/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png')
  link(href='/site.webmanifest' rel='manifest')
  link(color='#30235f' href='/safari-pinned-tab.svg' rel='mask-icon')
  meta(content='#2d89ef' name='msapplication-TileColor')
  meta(content='#fff' name='theme-color')
  link(href='css/style.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap", rel="stylesheet")
body
  #page-wrap
    header#page-header
      .container.navbar-wrap
        nav.navbar.navbar-expand-lg.navbar-dark
          .container-fluid
            a.navbar-brand(href='#')
              img.d-inline-block.align-top(src='/images/logo.png' alt='tajam' width='128' height='50')
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.mb-2.mb-lg-0.ml-auto
                li.nav-item
                  a.nav-link.active(aria-current='page' href='#') Home
                each val in ['About', 'Expertise', 'Teams', 'Works', 'People say', 'Contact']
                  li.nav-item
                    a.nav-link(href='#')= val
      #header-text.container
        .row.justify-content-md-center
          .col.col-lg-10
            h1 We Are Awesome Creative Agency
            div This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            a.btn.btn-outline-primary(href="#") Learn more

    #page-content
      section#block-story.block.container
        .row.align-items-center
          .col-lg-5.site-icon.text-center.mb-5.mb-lg-0
            include /images/content-logo.svg
          .col-lg-7
            h2 Our Story
            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
            p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            a.btn.btn-outline-primary(href="#") Learn more

      section#block-video.block
        .container
          button.btn-play.btn-transparent(title="Watch our story", data-toggle="modal", data-target="#videomodal")
            span.icon-play
            span.description Watch our story
      section#block-expertise.block.text-center
        .container
          hgroup
            h2 Expertise
            h3.subtext Lorem ipsum dolor sit amet proin gravida nibh vel velit

          .expertise-grid
            .expertise-item
              .icon.icon-expert-webdesign
              h4 WEB DESIGN & DEVELOPMENT
              .description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise-item
              .icon.icon-expert-branding
              h4 BRANDING IDENTITY
              .description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise-item
              .icon.icon-expert-mobile
              h4 MOBILE APP
              .description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise-item
              .icon.icon-expert-search
              h4 SEARCH ENGINE OPTIMIZATION
              .description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise-item
              .icon.icon-expert-gamedev
              h4 GAME DEVELOPMENT
              .description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
            .expertise-item
              .icon.icon-expert-love
              h4 MADE WITH LOVE
              .description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.

      section#block-team.block.text-center
        .container
          hgroup
            h2 MEET OUR AMAZING TEAM
            h3.subtext Lorem ipsum dolor sit amet proin gravida nibh vel velit
          -
            var team = [
              {name: 'SEMF UCUK', title: 'CEO & FOUNDER'},
              {name: 'DIK ADALIN', title: 'ENGINEERING'},
              {name: 'JENG KOL', title: 'DESIGNER'},
              {name: 'PET ROMAK', title: 'MARKETING'},
            ]

          div.team-grid
            each teammember in team
              div.team-item(itemscope, itemtype="https://schema.org/Person")
                div.photo(itemprop="image")
                div.name-wrap
                  div.person-name(itemprop="name")= teammember.name
                  div.person-title(itemprop="jobTitle")= teammember.title

          .team-footer Become part of our dream team, let’s join us !
          .btn.btn-outline-primary WE ARE HIRING

      section#block-works.block
        header.header-with-link.container
          .row.align-items-center
            h2.col Our works
            div.col-md-auto
              a(href="#") See All Project in dribbble <span class="icon icon-arrow-right"></span>

        .works-grid
          - for (var x = 0; x < 12; x++)
            .works-grid-item

        .text-center
          button.btn.btn-outline-primary.px-4(href="#") Load more

      // Тут явно подразумевалась динамика, но в ТЗ нет, так что статика
      section#block-team2.block.text-center
        .container
          h2 “
          .block-content.row.justify-content-md-center
            .text.col.col-lg-10 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            .team2
              .person-name JANE GALADRIEL
              .person-title CEO TENGKUREP
              .team2__people
                img(src="images/staff-1.png", alt="staff 1", tabindex="0", data-staff="1")
                img(src="images/staff-2.png", alt="staff 2", tabindex="0", data-staff="2")
                img(src="images/staff-jane.png", alt="JANE GALADRIEL, CEO TENGKUREP", tabindex="0", data-staff="3")
                img(src="images/staff-4.png", alt="staff 4", tabindex="0", data-staff="4")
                img(src="images/staff-5.png", alt="staff 5", tabindex="0", data-staff="5")

      section#block-form.block.container
        h2.text-center.mb-4 GIVE US A GOOD NEWS
        .row.justify-content-md-center
          form.col-lg-6
            .mb-4
              input.form-control(type="text", placeholder="Name", title="Name")
            .mb-4
              input.form-control(type="email", placeholder="Email", title="Email")
            .mb-4
              input.form-control(type="text", placeholder="Subject", title="Subject")
            .mb-4
              // всё как на дизайне, ага
              textarea.form-control(placeholder="Your Massage", title="Your Massage", rows="6")
            .text-center
              button.btn.btn-outline-primary.px-4(type="submit") Submit

    footer#page-footer.block
      .container
        .row
          .col-lg-4.mb-3.mb-lg-0
            .logo
              img(src='/images/logo.png' alt='tajam' width='128' height='50')
            .text lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
          .col-lg-4.mb-3.mb-lg-0
            .header-wrap
              .h4 OUR STUDIO
            // без schema и ссылки
            p.text-marked.icon-map Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
            p.text-marked.icon-phone (+62) 21-2224 3333
          .col-lg-4
            .header-wrap
              .h4 STAY IN TOUCH
            form.form-subscribe.row.gx-2
              .col
                input(type="email", placeholder="Subscribe our newsletter", title="Subscribe our newsletter").form-control
              .col-auto
                button(type="submit", title="Subscribe").btn
                  span.icon-send

            .social
              a.icon.icon-facebook(href="#", title="Facebook", target="_blank", rel="noopener")
              a.icon.icon-twitter(href="#", title="Twitter", target="_blank", rel="noopener")
              a.icon.icon-dribble(href="#", title="Dribble", target="_blank", rel="noopener")
              a.icon.icon-instagram(href="#", title="Instagram", target="_blank", rel="noopener")
              a.icon.icon-googleplus(href="#", title="Google+ (RIP)", target="_blank", rel="noopener")
              a.icon.icon-youtube(href="#", title="YouTube", target="_blank", rel="noopener")
        .row.row-last.align-items-center
          .col
            .navbar.navbar-dark.navbar-expand
                ul.navbar-nav
                  li.nav-item
                    a.nav-link(href='#') Help
                  li.nav-item
                    a.nav-link(href='#') TERMS & CONDITION
                  li.nav-item
                    a.nav-link(href='#') Privacy
          .col-auto
            .copyright Copyright © 2015 - Tajem Creative

  #videomodal.modal.fade(tabindex="-1")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          button(type="button", class="btn-close", data-dismiss="modal", aria-label="Close")
        .modal-body.text-center
          iframe(width="560" height="315" src="https://www.youtube.com/embed/KvUgaHTNit4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  script(src="js/bootstrap.bundle.min.js")
  script
    include ../node_modules/webp-in-css/polyfill.js
  script
    include script.js
