include includes/header.html

body
  #page-wrap
    include includes/header-nav.html

  script(src="js/bootstrap.min.js")
  script(src="js/popper-lite.min.js")
  link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap", rel="stylesheet")
